<div class="field">

  <div class="computer-play-field-wrapper">
    <span>Computer Cards: {{computerDeck.length}} </span>
    <br>
    <span>Deck Cards: {{deck.length}} </span>
    <br>
    <span *ngIf="computerDeck.length === 0">Computer Wins!</span>
    <button (click)="seeComputerDeck = !seeComputerDeck"> Show Computer Cards </button>
    <br>
    <div *ngIf="seeComputerDeck">
      <card-preview *ngFor="let card of computerDeck" [card]="card">
      </card-preview>
    </div>
  </div>

  <div class="played-cards-wrapper">
    <card-preview [card]="lastPlayedCard" (drawCard)="onCardDraw()">

    </card-preview>
  </div>

  <div class="player-play-field-wrapper">
    <card-preview *ngFor="let card of playerDeck" [card]="card" [isPlayerCard]="true"
      (selectedCard)="onCardSelection($event)" (drawCard)="onCardDraw()">

    </card-preview>

    <div *ngIf="playerDeck.length === 0">
      Player Wins!
    </div>

  </div>
</div>