.field {
  margin: 20px;
}

.card-outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  width: 50px;
  height: 100px;
}

.card-inner-circle {
  border: solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-circle-content {
  font-size: 25px;
}

.computer-play-field-wrapper {
  border: 2px solid black;
  max-width: 1000px;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.player-play-field-wrapper {
  border: 2px solid black;
  max-width: 1000px;
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
}

.played-cards-wrapper {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1000px;
  max-height: 120px;
  min-height: 120px;
  overflow: auto;
}
